/* Nav-Bar */
.nav-bar {
  height:2em;
}
.nav-logo {
 font-size:32pt;
 color:white;
}
.nav-bar-font {
  font-size:24pt;
}

/* Main template */
.main-container {
  height:100%;
}

.account-container {
  min-width:50%;
  min-height: 60%;
  background-color:#444444;
}

.App {
  height:100%;
}

html, body {
  height:100%;
}

/* Card template */
.aid-card {
  transition: transform .2s;
}
.aid-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.overlay-container {
  background-color: rgba(0,0,0,0.75);
  display:block;
  position: absolute;
  z-index:10;
  height:100%;
  left:0;
  right:0;
}